@font-face {
  font-family: Vazir-Medium;
  font-style: normal;
  src: url("../../public/fonts/Vazir-Medium.eot");
  src: url("../../public/fonts/Vazir-Medium.woff");
  src: url("../../public/fonts/Vazir-Medium.woff2");
}
